

<!--<h1> {{titulo}} </h1> <!--invoca al title del app.component.ts-->

<!--<h3> la base es: <strong> {{ base }} </strong></h3>-->
<!--<button (click)=" numero = numero + 1;"> +1</button>--> <!--llamamos al evento click-->
<!--<button (click)="sumar()"> +1</button>-->
<!--<button (click)="acumular(+1)"> +1</button>-->

<!--<span> {{numero}} </span>-->

<!--<button (click)=" numero = numero - 1;"> -1</button>-->
<!--<button (click)="restar()"> -1</button>-->
<!--<button (click)="acumular(-1)"> -1</button>-->



<!--<button (click)="acumular2( base )"> + {{base}}</button>-->
<!--<span> {{numero}} </span>-->
<!--<button (click)="acumular2( - base )"> - {{base}}</button>-->


<app-contador></app-contador> <!--Para agregar esto debemos importar el ContadorComponent en el app.module.ts-->
<!--<app-heroe></app-heroe>-->
<!--<app-listado></app-listado>-->